body{
  background: linear-gradient(#530060, #E40A89);
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}
.logo-1{
  width: 50%;
}
.title-lyft{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-fund{
  background-image: url(../../assets/img/car.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

}
.logo-2{
  width: 30%;
  margin-top: 0.5em;
  margin-left: 8em;
}
.life{
  width: 90%;
  margin-left: 1em;
  margin-top: 10em;
}
.btn.btn-default{
  margin-top: 13em;
  padding: 1%;
  width: 60%;
  height: 3.5em;
}
.btn-1{
  margin-left: 6em;
  background:transparent;
  color: white;
  font-weight: bold;

}
.btn-2{
  margin-right: 0.1em;
  background:transparent;
  color: white;
  font-weight: bold;
